# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Custom
resources
executor_lambda/app.zip
docs/acme.md
docs/alicloud.md
docs/arukas.md
docs/aws.md
docs/azuread.md
docs/azurerm.md
docs/azurestack.md
docs/bigip.md
docs/bitbucket.md
docs/brightbox.md
docs/chef.md
docs/circonus.md
docs/cloudflare.md
docs/cloudscale.md
docs/cloudstack.md
docs/cobbler.md
docs/consul.md
docs/datadog.md
docs/digitalocean.md
docs/dns.md
docs/dnsimple.md
docs/docker.md
docs/dyn.md
docs/fastly.md
docs/flexibleengine.md
docs/github.md
docs/gitlab.md
docs/google.md
docs/grafana.md
docs/hcloud.md
docs/hedvig.md
docs/heroku.md
docs/huaweicloud.md
docs/icinga2.md
docs/influxdb.md
docs/kubernetes.md
docs/linode.md
docs/local.md
docs/logicmonitor.md
docs/mailgun.md
docs/mysql.md
docs/netlify.md
docs/newrelic.md
docs/nomad.md
docs/ns1.md
docs/nsxt.md
docs/nutanix.md
docs/oci.md
docs/opc.md
docs/openstack.md
docs/opentelekomcloud.md
docs/opsgenie.md
docs/oraclepaas.md
docs/ovh.md
docs/packet.md
docs/pagerduty.md
docs/panos.md
docs/postgresql.md
docs/powerdns.md
docs/rabbitmq.md
docs/rancher.md
docs/random.md
docs/rundeck.md
docs/runscope.md
docs/scaleway.md
docs/skytap.md
docs/spotinst.md
docs/statuscake.md
docs/template.md
docs/tencentcloud.md
docs/tfe.md
docs/tls.md
docs/triton.md
docs/ucloud.md
docs/vault.md
docs/vcd.md
docs/vsphere.md
run.sh
